@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
*
{
text-decoration: none !important;
}
body{
    background-image: url("img/background.jpeg");
    background-size: cover;
    position: relative;
    background-color: rgba(240,248,255,0.56);
    background-blend-mode:soft-light;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}

#logo
{
height: 3em;
width: 3em;
background-color: dodgerblue;
border: .7px solid floralwhite;
border-radius: 50%;

}

i.fa {
    background: dodgerblue;
    padding:20px;
    border: 3px solid floralwhite;
    border-radius: 50%;
  
  }

  i.fab {
    background: dodgerblue;
    padding:20px;
    border: 3px solid floralwhite;
    border-radius: 50%;
  
  }

  span i
  {
    background: none !important;
    padding: 0px !important;
    border: none;
    font-size: 1.5em;
    color: dodgerblue;
    
  }

.card-body i
{
    font-size: 2em;
    background: dodgerblue;
    padding:15px;
    border-radius: 50% 20% / 10% 40%;
    /* border-radius: 10% / 50%; */
    color: floralwhite;   
}

.div
{
    z-index: 100;
}

.fa, a
{
color: black;
}

.card img 
{
    max-width: 100%;
    height: auto;
}

.card
{
border:1px ridge #8140dd ;
background-color: whitesmoke;
overflow: auto;

}

.hover
{
    height: 35em;
    text-decoration: none !important;
}

.hover:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.45); 
    transition: transform 1s ease;
    z-index: 100;
    overflow: hidden;
  }

.connect:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.45); 
    transition: transform 1s ease;
    z-index: 100;
    overflow: hidden;
  }

.jumbotron
{
background-color: dodgerblue;
/* opacity: 85%; */
color: whitesmoke;
/* margin-top: 5em; */
}

.head
{
font-weight: 800;
font-stretch: expanded;
}

.head .fa
{
font-size: .9em;
padding: 3px;
background-color: dodgerblue;
color: crimson;
border: 3px solid floralwhite;
}


@media screen and (max-width:768px) {
    img {
        width:100%;
    }
    .container {
        max-width:100%;
        width: 100%;
    }
    .col-md-3{
        width:100%;
        float:left;
        margin:0;
    }
    }


    #connect-section
    {
    padding-top: 6em;
    }

    #why-section
    {
    padding-top: 6em;
    }

    #hobbies-section
    {
    padding-top: 6em;
    }

    #projects-section
    {
    padding-top: 7em;
    }

    #home
    {
    padding-top: 5em;
    }

    .card-text
    {
    font-size: .8em;
    line-height: 1.1;
    }

    .why
    {
    font-size: 1.2em !important;
    line-height: 1.6 !important;    
    }

    .card-title
    {
    font-weight: 900;
    text-align: center;
    font-size: 1.3em;
    }

    

  
    



