@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

body{
    background-image: url("img/background.jpeg");
    background-size: cover;
    position: relative;
    background-color: rgba(240,248,255,0.76);
    background-blend-mode:soft-light;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}

i.fa {
    background: dodgerblue;
    padding:20px;
    border: 3px solid floralwhite;
    border-radius: 50%;
  
  }

  i.fab {
    background: dodgerblue;
    padding:20px;
    border: 3px solid floralwhite;
    border-radius: 50%;
  
  }

.card-body i
{
    font-size: 2em;
    background: dodgerblue;
    padding:15px;
   
    border-radius: 10% / 50%;
    color: floralwhite;   
}

.div
{
    z-index: 100;
}

.fa, a
{
color: black;
}

.card img 
{
    max-width: 100%;
    height: auto;
}

.card
{
border:1px ridge #8140dd ;

}
.hover:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.45); 
    transition: transform 1s ease;
    z-index: 100;
    overflow: hidden;
  }

  .connect:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.45); 
    transition: transform 1s ease;
    z-index: 100;
    overflow: hidden;
  }

.jumbotron
{
background-color: dodgerblue;
opacity: 85%;
}

.head
{
font-weight: 800;
font-stretch: expanded;
}

.head .fa
{
font-size: .9em;
padding: 3px;
background-color: crimson;
color: dodgerblue;
border: 3px solid floralwhite;
}


@media screen and (max-width:768px) {
    img {
        width:100%;
    }
    .container {
        max-width:100%;
        width: 100%;
    }
    .col-md-3{
        width:100%;
        float:left;
        margin:0;
    }
    }

    



